<!DOCTYPE html>
<html lang="ko">
<head>
    <title>Master page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet_masterPage.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet_masterPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="/plugins/jquery.form.js"></script>
    <script>
        function showAddDiv(id,id2){
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';

            var e2 = document.getElementById(id2);
            if(e2.style.display == 'block')
                e2.style.display = 'none';
            else
                e2.style.display = 'block';
        }
        function showCategoryMain1(id,id2){
            //document.categoryAdd.submit();

            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';

            var e2 = document.getElementById(id2);
            if(e2.style.display == 'block')
                e2.style.display = 'none';
            else
                e2.style.display = 'block';


        }
        function showDeleteDiv(id,id2){
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';

            var e2 = document.getElementById(id2);
            if(e2.style.display == 'block')
                e2.style.display = 'none';
            else
                e2.style.display = 'block';

        }
        function showCategoryMain2(id,id2){
            //document.categoryDelete.submit();

            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';

            var e2 = document.getElementById(id2);
            if(e2.style.display == 'block')
                e2.style.display = 'none';
            else
                e2.style.display = 'block';

        }

    </script>
    <style>
        table, th, td {
            border: 1px solid black;
            padding : 5px;
        }
    </style>
</head>
<body>
<!--카테고리 메인-->
<div class="container-fluid" id="categoryMain" style="display:block">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th>categoryID</th>
            <th>categoryName</th>
            <th>categoryImg</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i=0; i < categoryNum; i++) { %>
        <tr>
            <td><%=categorys[i].cateID%></td>
            <td><%=categorys[i].cateName%></td>
            <td><a href="<%=categorys[i].cateURL%>"><%=categorys[i].cateURL%></a></td>
        </tr>
        <%}%>
        </tbody>
    </table>
    <button class="btn btn-success" onclick="showAddDiv('addDiv','categoryMain')">카테고리추가</button>
    <button class="btn btn-success"onclick="showDeleteDiv('deleteDiv','categoryMain')">카테고리 삭제</button>
</div>
<!--카테고리 추가-->
<div id="addDiv" style="display:none">
    <form action="/web/master/category/add" method="post" name="categoryAdd" id="categoryAdd" enctype="multipart/form-data">
        <div class="form-group">
            <label for="카테고리 이름">CategoryName:</label>
            <input class="form-control" type="카테고리 이름" id="categoryName" name="categoryName" placeholder="카테고리 이름을 입력해주세요">
            <label for="카테고리 아이디">CategoryId:</label>
            <input class="form-control" type="카테고리 아이디" id="categoryID" name="categoryID" placeholder="카테고리 아이디를 입력해주세요">
            <label for="카테고리 이미지">CategoryImage:</label>
            <input type="file" id="categoryImage" name="categoryImage" placeholder="카테고리를 입력해주세요">
            <br>
            <Input type="submit" value="완료" class="btn btn-success" onclick="showCategoryMain1('addDiv','categoryMain')"/>
        </div>
    </form>
</div>
<!--카테고리 삭제-->
<div id="deleteDiv" style="display:none">
    <form action="/web/master/category/delete" id = "categoryDelete" name="categoryDelete" method="post">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>categoryID</th>
                <th>categoryName</th>
            </tr>
            </thead>
            <tbody>
            <% for (var i=0; i < categoryNum; i++) { %>
            <tr>
                <td><%=categorys[i].cateID%></td>
                <td><%=categorys[i].cateName%></td>
            </tr>
            <%}%>
            </tbody>
        </table>
        <label for="카테고리 삭제">InputCategoryID:</label>
        <input class="form-control" type="카테고리 삭제" id="categoryID" name="categoryID" placeholder="삭제를 원하는 카테고리 ID를 입력해주세요"/>
        <br>
        <input type="submit" id="delete" class="btn btn-success btn-Medium"  value="완료" onclick="showCategoryMain2('deleteDiv','categoryMain')"/>
    </form>
</div>
<script>
    $( document ).ready(function() {
        $("#categoryAdd").ajaxForm({
            success:function(res, frm, opt){
                if(res.status === 's'){
                    location.reload(true);
                }
                else{
                    alert('error, ' + res.msg);
                }
            }
        });
    });
    $( document ).ready(function() {
        $("#categoryDelete").ajaxForm({
            success:function(res, frm, opt){
                if(res.status === 's'){
                    location.reload(true);
                }
                else{
                    alert('error, ' + res.msg);
                }
            },
            error : function(){
                alert('error');
            }
        });
    });
</script>
</body>
</html> 