<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title></title>
  <!-- import jquey -->
  <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
  <!-- import bootstrap and style sheet -->
  <script type="text/javascript" src="/plugins/bootstrap/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
  <script>
    $(document).ready(function(){
      $("input#delete").click(function(){
        $("input#checkBox").each(function(){
            if($(this).is(":checked")){
              alert("Do you want to delete '" + $(this).val()+ "' on the list?");
            }
        });
      });

    });

  </script>


</head>
<body>
<div class="container">
  <a href="/web/master/addCloth"> Add New Cloth </a>
  <input type="button" value="Delete" id="delete" class="btn btn-warning">
  <input type="button" value="Valid" id="valid" class="btn btn-warning">
  <table class="table table-striped table-hover">
    <thead>
      <th> Idx </th>
      <th> Category </th>
      <th> Name </th>
      <th> img </th>
      <th> link </th>
      <th> info </th>
      <th> Valid </th>
    </thead>
    <tbody>
    <% for (var i = 0 ; i < cloths.length ; i++) {%>
      <tr>
        <td> <input type="checkbox" value="Striped Shirts" id="checkBox">  </td>
        <td> <%=cloths[i].clothCate%> </td>
        <td> <%=cloths[i].clothName%> </td>
        <td> <img src=<%=cloths[i].clothImg%> width="100px" height="100px" > </td>
        <td> <a href=<%=cloths[i].clothURL%> target="_blank"> Show </a></td>
        <td> <%=cloths[i].clothInfo%> </td>
        <td> <%=cloths[i].isValid%></td>
      </tr>
    <% } %>
    </tbody>
  </table>
</div>
</body>
</html>