<!DOCTYPE html>
<html lang="en">
<head>
    <title>Master page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet_masterPage.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script>
    function showAddDiv(id,id2){
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';

        var e2 = document.getElementById(id2);
       if(e2.style.display == 'block')
          e2.style.display = 'none';
       else
          e2.style.display = 'block';
   }
   function showEditorMain(id,id2){
    var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';

        var e2 = document.getElementById(id2);
       if(e2.style.display == 'block')
          e2.style.display = 'none';
       else
          e2.style.display = 'block';
   }
   function printValue(value){
    console.log(value);
   }
   function showDeleteDiv(id,id2){
     var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';

        var e2 = document.getElementById(id2);
       if(e2.style.display == 'block')
          e2.style.display = 'none';
       else
          e2.style.display = 'block';
   }
   </script>
    <style>
table, th, td {
border: 1px solid black;
padding : 5px;
}
    </style>

</head>
<body>
    <!--에디터 메인-->
    <div class="container-fluid" id="editorMain" style="display:block">
        <table class="table table-striped table-bordered">
        <tr>
            <th>editorEmail</th>
            <th>editorName</th>
            <th>editorNick</th>
            <th>editorCate</th>
            <th>editorThumnail</th>
            <th>editorIntro</th>
            <th>editorValid</th>
        </tr>
        <% for (var i=0; i < editorsNum; i++) { %>
        <tr>
            <td><%=editors[i].editorEmail%></td>
            <td><%=editors[i].editorName%></td>
            <td><%=editors[i].editorNick%></td>
            <td><%=editors[i].editorCate%></td>
            <td><%=editors[i].editorThumnail%></td>
            <td><%=editors[i].editorIntro%></td>
            <td><%=editors[i].editorValid%></td>
        </tr>
        <%}%>
        </table>
        <button  class="btn btn-success" onclick="showAddDiv('addDiv','editorMain')">에디터 추가</button>
        <button  class="btn btn-success" onclick="showDeleteDiv('deleteDiv','editorMain')">에디터 삭제</button>
    </div>
    <!--에디터 추가-->
    <div id="addDiv" style="display:none">
        <div class="form-group">
              <label for="에디터 이메일">Editor's Email:</label>
              <input class="form-control" type="에디터 이메일" id="editorEmail" placeholder="에디터의 이메일을 입력해주세요">
              <label for="에디터 이름">Editor's Name:</label>
              <input class="form-control" type="에디터 이름" id="editorName" placeholder="에디터의 이름을 입력해주세요">
              <label for="에디터 닉네임">Editor's NickName:</label>
              <input class="form-control" type="에디터 닉네임" id="editorNick" placeholder="에디터의 닉네임을 입력해주세요">
              <label for="에디터 카테고리">Editor's Category:</label>
              <input class="form-control" type="에디터 카테고리" id="editorCate" placeholder="에디터의 카테고리를 입력해주세요">
              <label for="에디터 썸네일">Editor's Thumnail:</label>
              <input type="file" id="editorThumnail" placeholder="썸네일을 입력해주세요">
              <label for="에디터 소개">Editor's Intro:</label>
              <input class="form-control" type="에디터 소개" id="editorIntro" placeholder="에디터의 소개를 입력해주세요">
              <br>
              <button class="btn btn-success" onclick="showEditorMain('addDiv','editorMain')">완료</button>
            </div>
        </div>
        <!--에디터 삭제-->
        <div id="deleteDiv" style="display:none">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>editorEmail</th>
                    <th>editorName</th>
                    <th>editorNick</th>
                    <th>editorCate</th>
                    <th>editorThumnail</th>
                    <th>editorIntro</th>
                    <th>editorValid</th>
                </tr>
                <% for (var i=0; i < editorsNum; i++) { %>
                <tr>
                    <td><%=editors[i].editorEmail%></td>
                    <td><%=editors[i].editorName%></td>
                    <td><%=editors[i].editorNick%></td>
                    <td><%=editors[i].editorCate%></td>
                    <td><%=editors[i].editorThumnail%></td>
                    <td><%=editors[i].editorIntro%></td>
                    <td><%=editors[i].editorValid%></td>
                    <td><button id="delete" type="button" class="btn btn-link btn-Meduim" value=<%=editors[i].editorEmail%> onclick="printValue(value)">삭제</button></td>
                </tr>
                <%}%>
            </table>
            <button class="btn btn-success" onclick="showEditorMain('deleteDiv','editorMain')">완료</button>
        </div>
</body>
</html>