<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import jquey -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <!-- import bootstrap style sheet -->
    <script type="text/javascript" src="/plugins/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <script>
        $(document).ready(function(){
           $("input#go_fitting").click(function(){
               if($("div#fitting_room_container").text() == 0){
                   // in mobile
                   $("body").load("/web/fitting_room");
               }else{

                   $("div#fitting_room_container").load("/web/fitting_room");
               }
           });
            $("td#more").click(function(){
                $("div#fitting_room_container").load("/web/fitting_room");
            });

            $(".date").each(function(){
                var str = $(this).text();
                var res = str.split(" ",4);
                $(this).text(res[3] + "." + res[1] + "." + res[2] + "(" + res[0]+")");
            });
            $('[data-toggle="popover"]').popover({html: true, placement : "top"});
        });

    </script>
</head>
<body>
    <div class="container">
        <h3> 내 옷장 <small> 내가 만든 패션을 확인하는 페이지입니다.</small> </h3>
        <input id="go_fitting" type="button" value="Go Fitting Room" class="btn btn-default"/>
        </br></br>
        <div class="container">
        <%for(var i = 0 ; i < list.length; i++){%>
        <div class="table-responsive col-sm-3">
            <table class="table">
                <tbody>
                <tr>
                    <td id="head" colspan="2">
                        <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].headUrl%> value="0" width="200px" height="100px"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td  id="top_cloth" width="100px" height="100px">
                        <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].upperUrl%> value="0" width="100px" height="100px"/>
                        </a>
                    </td>
                    <td  id="outer_cloth" width="100px" rowspan="2">
                        <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                        <img src=<%=list[i].coatUrl%> value="0" width="100px" height="200px"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td  id="bottom_cloth" width="100px" height="100px">
                        <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                        <img src=<%=list[i].lowerUrl%> value="0" width="100px" height="100px"/>
                        </a>
                    </td>
                </tr>

                <tr><td id="hashTag" colsapn="2"><u id="hashTag"> <%=list[i].hashtag%></u></td></tr>
                <tr>
                    <td id="like" cbIdx=<%=list[i].cbIdx%>> 추천수 </td>
                    <td id="likeCnt" tmp="123"> <%=list[i].likes%></td>
                </tr>
                </tbody>
            </table>
        </div>
        <%}%>
        </div>
    </div>
</body>
</html>