<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import jquey -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <!-- import bootstrap and style sheet -->
    <script type="text/javascript" src="/plugins/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <script>
        $(document).ready(function(){
            $("input#show_fashion").click(function(){
                $("div#hot_fashion_container").load("/web/hot_fashion");
            });

            // make hastag as a link
            $("td#hashTag").each(function(){
                var text = $(this).text().replace(/\ /g,'');
                var splitText = text.split('#');
                var repText = "";
                for(var i = 0 ; i < splitText.length; i++){
                    if(splitText[i] != ''){
                        repText += ("<u id='hashTag'> #" + splitText[i] + "</u> ");
                    }
                }
                $(this).text('');
                $(this).append(repText);//.replace(repText);
            });
            $("u#hashTag").click(function() {
                var clickTag = $(this).text().replace(/\ /,'').replace(/\#/,'');
                var url = "/web/hot_fashion_list?hashtag=" + clickTag;
                $("div#hot_fashion_container").load(url);
            });
            // when press like btn
            $("td#like").click(function(){
                var cbIdx = $(this).attr('cbIdx');
                var likeCnt = $(this).parent().children("td#likeCnt").text();
                var postJson =  {cbIdx : cbIdx, likeCnt : likeCnt};

                //alert(postJson.toString());
                $.post("/web/fasion_like", postJson);
                $(this).parent().children("td#likeCnt").text(parseInt($(this).parent().children("td#likeCnt").text())+1);
            });
           // var res = str.split("");
            $('[data-toggle="popover"]').popover({html: true});
        });


    </script>
</head>
<body>
    <div class="container">
        <h3> This week's Top HashTag </h3>
        <div class="row">
            <bdi> #가을 </bdi>
            <bdi> #대학생 </bdi>
            <bdi> #스트라이프 </bdi>
            <bdi> #카키 </bdi>
            <bdi> #반팔티 </bdi>
        </div>
        <h3> hot fashion list </h3>

        <table class="table table-striped table-hover">
            <thead>
                <th> indx </th>
                <th> 모자 </th>
                <th> 상의 </th>
                <th> 하의 </th>
                <th> 코트 </th>
                <th> 태그 </th>
                <th> 추천 </th>
                <th> 추천수 </th>
            </thead>
            <tbody>
            <%for(var i = 0 ; i < list.length; i++){ %>
                <tr>
                    <td><%=i+1%></td>
                    <td> <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].headUrl%> width="100px" height="100px"/>
                        </a></td>
                    <td> <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].upperUrl%> width="100px" height="100px"/>
                        </a></td>
                    <td> <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].lowerUrl%> width="100px" height="100px"/>
                        </a></td>
                    <td> <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                            <img src=<%=list[i].coatUrl%> width="100px" height="100px"/>
                        </a></td>
                    <td id="hashTag"><%=list[i].hashtag%></td>
                    <td id="like" cbIdx=<%=list[i].cbIdx%>> 추천 </td>
                    <td id="likeCnt" tmp="123"> <%=list[i].likes%></td>
                </tr>
            <%}%>
            </tbody>
        </table>

        <!--
        <div class="row">
            <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                <img src="http://www.namjungnedle.com/web/product/extra/small/201508/1136_shop1_587453.jpg" width="100px" height="100px"/>
            </a>
            <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                <img src="http://www.namjungnedle.com/web/product/extra/small/201508/1136_shop1_587453.jpg" width="100px" height="100px"/>
            </a>
            <a href="#" data-toggle="popover" title="Popover Header" data-content="<a href='http://www.namjungnedle.com' target='_blank'>구매하러 가기</a>">
                <img src="http://www.namjungnedle.com/web/product/extra/small/201508/1136_shop1_587453.jpg" width="100px" height="100px"/>
            </a>
            #가을 #트랜치코트 #배기바지 #소풍 #데이트룩

        </div>
        -->
    </div>
</body>
</html>