<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- import jquey -->
    <script type="text/javascript" src="/plugins/jquery-1.11.3.min.js"></script>
    <!-- import bootstrap and style sheet -->
    <script type="text/javascript" src="/plugins/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap/bootstrap.min.css">
    <script>
        $(document).ready(function(){
            $("input#show_fashion").click(function(){
                $("div#hot_fashion_container").load("/web/hot_fashion");
            });

            // make hastag as a link
            $("td#hashTag").each(function(){
                var text = $(this).text().replace(/\ /g,'');
                var splitText = text.split('#');
                var repText = "";
                for(var i = 0 ; i < splitText.length; i++){
                    if(splitText[i] != ''){
                        repText += ("<u id='hashTag'> #" + splitText[i] + "</u> ");
                    }
                }
                $(this).text('');
                $(this).append(repText);//.replace(repText);
            });
            $("u#hashTag").click(function() {
                var clickTag = $(this).text().replace(/\ /,'').replace(/\#/,'');
                var url = "/web/hot_fashion_list?hashtag=" + clickTag;
                $("div#hot_fashion_container").load(url);
            });
            // when press like btn
            $("td#like").click(function(){
                var cbIdx = $(this).attr('cbIdx');
                var likeCnt = $(this).parent().children("td#likeCnt").text();
                var postJson =  {cbIdx : cbIdx, likeCnt : likeCnt};

                //alert(postJson.toString());
                $.post("/web/fasion_like", postJson);
                $(this).parent().children("td#likeCnt").text(parseInt($(this).parent().children("td#likeCnt").text())+1);
            });
           // var res = str.split("");
            $('[data-toggle="popover"]').popover({html: true});
        });


    </script>
</head>
<body>
    <div class="container">
        <h3> 최신 유행 패션 <small> 최근 사람들에게 추천을 많이 받은 패션을 보여줍니다. </small> </h3>
        <h4> 인기 키워드 </h4>
        <div class="row">
            <u id='hashTag'> #가을 </u> &nbsp
            <u id='hashTag'> #대학생 </u> &nbsp
            <u id='hashTag'> #스트라이프 </u> &nbsp
            <u id='hashTag'> #카키 </u> &nbsp
            <u id='hashTag'> #반팔티 </u>
        </div>
        </br></br>
        <div class="container">
            <%for(var i = 0 ; i < list.length; i++){%>
            <div class="table-responsive col-sm-3">
                <table class="table">
                    <tbody>
                    <tr>
                        <td id="head" colspan="2">
                            <img src=<%=list[i].headUrl%> value="0" width="200px" height="100px"/>
                        </td>
                    </tr>
                    <tr>
                        <td  id="top_cloth" width="100px" height="100px">
                            <img src=<%=list[i].upperUrl%> value="0" width="100px" height="100px"/>
                        </td>
                        <td  id="outer_cloth" width="100px" rowspan="2">
                            <img src=<%=list[i].lowerUrl%> value="0" width="100px" height="200px"/>
                        </td>
                    </tr>
                    <tr>
                        <td  id="bottom_cloth" width="100px" height="100px">
                            <img src=<%=list[i].coatUrl%> value="0" width="100px" height="100px"/>
                        </td>
                    </tr>

                    <tr><td id="hashTag" colsapn="2"><%=list[i].hashtag%></td></tr>
                    <tr>
                        <td id="like" cbIdx=<%=list[i].cbIdx%>> 추천 </td>
                        <td id="likeCnt" tmp="123"> <%=list[i].likes%></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <%}%>
        </div>
    </div>
</body>
</html>