<!DOCTYPE html>
<html lang="en">
<head>
  <title>Master page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css
		" href="stylesheet_masterPage.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	</div>
     <div>
        <table class="table table-striped table-bordered">
          <tr>
              <th>contentID</th>
              <th>writer</th>
              <th>title</th>
              <th>categoryID</th>
              <th>categoryName</th>
              <th>like</th>
          </tr>
          <%for(var i=0;i<contentNum;i++){%>
          <tr>
              <td><%=datas[i].contentID%></td>
              <td><%=datas[i].writer%></td>
              <td><%=datas[i].title%></td>
              <td><%=datas[i].categoryID%></td>
              <td><%=datas[i].categoryName%></td>
              <td><%=datas[i].like%></td>
            </tr>
            <%}%>
          </table>
</body>
</html>